*{
    margin: 0;
    padding: 0;
}

polygon{
    opacity: 94%;
    stroke:#6495ED;
    stroke-width: 6px;
    filter:contrast(1);
}

.image1{
    height: 1024px;
}
.container{
    width: 100%;
    height: 700px;
    position: fixed;
}

.navbar{
    width: 100%;
    position: absolute;
    left:50px;
}

.logo{
    width: 344px;
    height: 118px;
    margin-top: 10px;
    filter:contrast(3);
}
.logoimage{
    width: 344px;
    height: 118px;
    position: absolute;
    top: 0px;
    margin-left: 550px;
}
.content{
    position: relative;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 10fr 0fr;
    top:-300px;
    margin-left: 1100px;
    margin-top: 20px;
}
#home,#about{
    font-size: xx-large;
    color: black;
    text-decoration:none;
    font-weight: bolder;
}

.mainbackground{
    position: absolute;
    top:0;
    z-index: -1;
    width: 100%;
}

.graphics{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top:185px;
    left: 500px;
}

.image2{
    width:310px;
}

.image3{
    width:770px;
}

.login-page{
    position: fixed;
    top:200px;
    left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:20px;
    border: 2px solid #6495ED;
    border-radius: 50px;
    height: 400px;
    width: 430px;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
}

.fpass,.signup{
    font-size:medium;
    color: aliceblue;
}

#login-head{
    color:black;
    font-size: xx-large;
    text-align: center;
    margin-top: 60px;
    font-weight:bolder;    
}

.user-password{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
    width:400px;   
    
}

#user,#password{
    height: 50px;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    border-radius: 20px;
    text-align: center;
    margin-left: 25px;
}

button{
    margin-left: 150px;
    width: 100px;
    height: 50px;
    border-radius: 40px;
    font-size: larger;
    font-weight:bold;
    border:4px solid #6495ED;
    background-color: rgb(9, 228, 236);
}

.alternate{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.alter{
    font-size: x-large;
    text-decoration:none;
}

.fpass{
    margin-left: 20px;
}

.signup{
    margin-left: 100px
}

#submit-link{
    text-decoration: none;
    text-shadow: #00bfff;
    color: azure;
}